.navbar {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; 
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: blue; /* Example background color */
}
  
  .link-container {
    color: black;
    margin: 0 30px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; /* Ensure the container takes full height */
    width: 100%
  }